<h1>To Do List</h1>
<hr />
<h2>Items:</h2>

@if (Model.Count != 0)
{
  <ul>
    @foreach (var item in Model)
    {
      <li><a href='/items/@item.GetId()'>@item.GetDescription()</a></li>
    }
  </ul>
}

<h4>Delete an item:</h4>

<form action='/items/delete' method='post'>
  <label for='itemId'>Select a category</label>
  <select id='itemId' name='itemId' type='text'>
    @foreach (var item in @Model)
    {
      <option value='@item.GetId()'>@item.GetDescription()</option>
    }
  </select>
  <button type='submit'>Delete</button>
</form>

<h4><a href="/items/new">Add new item</a></h4>
<h4><a href="/">Return home</a></h4>
